<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
        <li class="sidebar-brand">
            <a href="/" onclick="$(&quot;#menu-close&quot;).click();">          Adrian Lam</a>
        </li>
        <li>
            <a href="#top" onclick="$(&quot;#menu-close&quot;).click();"> <i class="fa fa-fw fa-home"></i> &emsp;  Home</a>
        </li>        
        <li>
            <a href="#about" onclick="$(&quot;#menu-close&quot;).click();"> <i class="fa fa-fw fa-info-circle"></i> &emsp; About</a>
        </li>
        <li>
            <a href="#fdadb"onclick="$(&quot;#menu-close&quot;).click();"> <i class="fa fa-fw fa-database"></i> &emsp; Databases</a>
        </li>
        <li>
            <a href="#epcdose" onclick="$(&quot;#menu-close&quot;).click();"> <i class="fa fa-fw fa-line-chart"></i> &emsp; Predicting Gx Conversion</a>
        </li>
        <li>
            <a href="/freq" onclick="$(&quot;#menu-close&quot;).click();">  <i class="fa fa-fw fa-calendar-check-o"></i> &emsp; Release Time-Series Analysis</a>
        </li>
    </ul>
</nav>	
