<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
        <li class="sidebar-brand">
            <a href="#top" onclick="$(&quot;#menu-close&quot;).click();">Portfolio</a>
        </li>
        <li>
            <a href="#top" onclick="$(&quot;#menu-close&quot;).click();">Home</a>
        </li>
        <li>
            <a href="#about" onclick="$(&quot;#menu-close&quot;).click();">About</a>
        </li>
        <li>
            <a href="#projects" onclick="$(&quot;#menu-close&quot;).click();">Projects</a>
        </li>
        &emsp;&emsp;&emsp;
        <i class="fa fa-inverse fa-hospital-o"></i> &thinsp; 
        <a href="/fdagx" onclick="$(&quot;#menu-close&quot;).click();">Generic Drug Modeling</a> <br>
        &emsp;&emsp;&emsp;
        <i class="fa fa-inverse fa-yelp"></i> &thinsp; 
        <a href="#projects" onclick="$(&quot;#menu-close&quot;).click();">Yelp Reviews: ML/NLP</a> <br>
        &emsp;&emsp;&emsp;
        <i class="fa fa-inverse fa-heartbeat"></i> &thinsp; 
        <a href="#projects" onclick="$(&quot;#menu-close&quot;).click();">Education: SimplifyMRI</a> 
        <li>
            <a href="/Resume" onclick="$(&quot;#menu-close&quot;).click();">Resume</a>
        </li>            
        <li>
            <a href="#contact" onclick="$(&quot;#menu-close&quot;).click();">Contact</a>
        </li>
    </ul>
</nav>