
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Little icon at top -->
	<link rel="shortcut icon" href="/img/Banzaitokyo-Medico-Caduceus.ico">
		
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="/css/theme.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/nv.d3.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">	  

	<script type="text/javascript" src="/js/bootstrap.js"> </script>
	<script type="text/javascript" src="/js/d3.v3.js"> </script>
	<script type="text/javascript" src="/js/nv.d3.js"> </script>
	<script type="text/javascript" src="/js/underscore.js"> </script>

  <style>

	  .chart rect 
		fill: steelblue;
	  }

	  .chart text {
		fill: white;
		font: 10px sans-serif;
		text-anchor: end;
	  }

  </style>  
  
